<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

<context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/api</param-value>
  </context-param>
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>aiss.api.FilmaysAplication</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>aiss.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>aiss.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/helloworld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YoutubeController</display-name>
    <servlet-name>YoutubeController</servlet-name>
    <servlet-class>aiss.controller.YoutubeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YoutubeController</servlet-name>
    <url-pattern>/YoutubeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrackSearchController</display-name>
    <servlet-name>TrackSearchController</servlet-name>
    <servlet-class>aiss.controller.TrackSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackSearchController</servlet-name>
    <url-pattern>/TrackSearchController</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>AddTrackController</display-name>
    <servlet-name>AddTrackController</servlet-name>
    <servlet-class>aiss.controller.AddTrackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTrackController</servlet-name>
    <url-pattern>/AddTrackController</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <description></description>
    <display-name>SelectedMovieController</display-name>
    <servlet-name>SelectedMovieController</servlet-name>
    <servlet-class>aiss.controller.SelectedMovieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectedMovieController</servlet-name>
    <url-pattern>/SelectedMovieController</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SpotifyAuthController</display-name>
    <servlet-name>SpotifyAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>Spotify</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpotifyAuthController</servlet-name>
    <url-pattern>/AuthController/Spotify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SpotifyOAuth2Callback</display-name>
    <servlet-name>SpotifyOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>Spotify</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/index.html</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpotifyOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/Spotify</url-pattern>
  </servlet-mapping>
 
</web-app>